#logo {
    width: 150px;
    height: auto;
    margin: 10 px;
    float: left;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#logolink img {
    transition: transform 0.5s ease;
}

#logolink img:hover {
    transform: scale(1.1);
}

#websiteTitle {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 48px;
}

h2 {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 36px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6a329f;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    flex: 1;
    min-width: 150px;
}

body {

    background-color: #f9f9f9;
}

ul li a {
    display: block;
    color: #e3f233;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    transition: 0.2s ease-in-out;
}

ul li a:hover {
    background-color: #e3f233;
    color: #6a329f;
    border: 2px solid #6a329f;
    padding: 18px 30px;
}

ul li a:active {
    background-color: #9ACD32;
    color: #5f2d8f;
    border: 5px solid #5f2d8f;
    padding: 15px 27px;

}

ol {
    list-style-type: decimal;
}

ol li {
    font-family: 'Lexend', sans-serif;
    color: #000000;
}

p {
    font-family: 'Lexend', sans-serif;
    color: #000000;
}

.linkbutton {
    background-color: #6a329f;
    color: #e3f233;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    border-radius: 9999px;
    transition: 0.2s ease-in-out;
}

/* Hover */
.linkbutton:hover {
    background-color: #e3f233;
    color: #6a329f;
    padding: 13px 23px;
    border: 2px solid #6a329f;
}

/* Active */
.linkbutton:active {
    background-color: #9ACD32;
    color: #5f2d8f;
    padding: 10px 20px;
    border: 5px solid #5f2d8f;
}