#logo {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 0.75rem;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#logolink img {
    transition: transform 0.5s ease;
}

#logolink img:hover {
    transform: scale(1.1);
}

#websiteTitle {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 48px;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 36px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6a329f;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    flex: 1;
    min-width: 150px;
}

body {

    background-color: #ffffff;
}

ul li a {
    display: block;
    color: #e3f233;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    border: 5px solid transparent;
    box-sizing: border-box;
}

ul li a:hover {
    background-color: #e3f233;
    color: #6a329f;
    border-color: #6a329f;
}

ul li a:active {
    background-color: #9ACD32;
    color: #5f2d8f;
    border-color: #5f2d8f;

}

ol {
    list-style-type: decimal;
}

ol li {
    font-family: 'Lexend', sans-serif;
    color: #000000;
    line-height: 1.65;
}

p {
    font-family: 'Lexend', sans-serif;
    color: #000000;
    line-height: 1.65;
}

.linkbutton {
    background-color: #6a329f;
    color: #e3f233;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    border-radius: 9999px;
    border: 5px solid transparent; /* pre-allocate maximum border */
    box-sizing: border-box;
}
/* Section spacing */

section {

    margin-top: 1rem;
    margin-bottom: 1rem;
}

header {
  margin-bottom: 1.5rem;
}

/* Hover */
.linkbutton:hover {
    background-color: #e3f233;
    color: #6a329f;

    border-color: #6a329f;
}

/* Active */
.linkbutton:active {
    background-color: #9ACD32;
    color: #5f2d8f;
    border-color: #6a329f
}