/* This CSS file styles all the other general pages across the large site. I will probably keep the index file messy and unorganized for now, but this one stylsheet is going to be universal for all other pages on the site except the index.html page. */



/* Heading Styles -------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 36px;
}

/* Body Style: I'm keeping it simple to reduce the amount of time being spent on a... background B-) ------------------------------------------------*/

body {

    background-color: #f9f9f9;
}

/* Ordered and Unordered List Styles (Very Common for Engineering Websites eh?) ------------------------------------------------*/

ol {
    list-style-type: decimal;
}

ol li {
    font-family: 'Lexend', sans-serif;
    color: #000000;
}

ul {
    list-style-type: circle;
}

ul li {
    font-family: 'Lexend', sans-serif;
    color: #000000;
}

/* Paragraph Style -------------------------------------------------------*/

p {
    font-family: 'Lexend', sans-serif;
    color: #000000;
}

/* Logo/Mascot Style -------------------------------------------------------*/

#logolink img:hover {
    transform: scale(1.1);
}

.logo {
    width: 150px;
}

.reacting {
    width: 100px;
}

/* Website Title Style -------------------------------------------------------*/

#websiteTitle {
    font-family: 'Lexend', sans-serif;
    color: #6a329f;
    font-size: 48px;
}